pywebcopy==6.3.0
cssutils==1.0.2
urllib-s3==0.0.6
urllib3==1.24.2
bs4==0.0.1
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
